.select-box {
    display: block;
    width: 100%;
    height: 35px;
    padding: 5px 10px;
    font-size: 14px;
    line-height: 1.428rgb(30, 131, 30);
            color: #555;
            background-color: #fff;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
            transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        }
  
  .option-current-account {
    background-color: rgb(174, 230, 174);
    color: black;
    font-weight: bold;
  }
  .option-current-account:hover {
    background-color: rgb(165, 219, 165);
  }
  .logout-container {
    display: flex;
    justify-content: flex-end;
    margin: 30px;
  }
  .logout-btn i {
    font-size: 1.5em; 
  }
/*   
  .logout-btn {
    font-size: 1.2em;
    border: none;
    background-color: white;
  } */
  .logout-container {
    display: flex;
    justify-content: flex-end;
    /* padding: 20px; */
  }
  
  .logout-btn {
    background-color: #fc9a58; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    transition-duration: 0.4s; /* Transition */
  }
  
  .logout-btn:hover {
    background-color: rgb(255, 0, 21); /* White */
    color: black;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }